.hello {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tasks {
  margin-left: 20px;
}

.taskshead {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size:18px;
}

.listitem {
  padding-left: 20px;
  padding-bottom: 10px;
}

.checkboxitem {
  padding-right: 20px;
}